<footer class="footer">
    <div class="row center-xs">
        <div class="col-xs-10">
            <div class="row">
                <section class="col-xs">
                    <div class="box">
                        <address class="direccion-helados-el-rey">
                            <a class="estilo-logo-helados">
                                <img src="./assets/img/helados-el-rey-267x150.png" alt="Helados-el-rey" title="Helados el rey">
                            </a>
                            <p class="ubicacion-direccion"><span>Estamos</span> ubicados en:</p>
                            <div class="header-direccion">
                                <p><strong>Dirección:</strong> Calle 57 #36 e 95,</p>
                                <p>Barrio santander</p>
                                <p><strong>Telefonos:</strong>602395785 - 311 521 3140 <span><img src="./assets/img/whatsapp.png" alt=""></span></p>
                                <p><strong>Email:</strong>heladoselrey@gmail.com</p>
                            </div>
                        </address>
                    </div>
                </section>
                <section class="col-xs">
                    <div class="box">
                        <p><strong>Contactanos:</strong></p>
                        <app-contacto></app-contacto>
                    </div>
                </section>
                <section class="col-xs">
                    <div class="box">
                        <p class="siguenos-redes-sociales"><span>Siguenos</span> en nuestras redes!</p>
                        <a class="redes-sociales" href="https://www.instagram.com/fabrica_de_helados_el_rey/" target="_blank">
                            <span>
                                <img src="./assets/img/instagram.png" alt="">
                            </span>
                        </a>
                        <a class="redes-sociales" href="https://www.facebook.com/Helados-el-Rey-1618482788400986" target="_blank">
                            <span>
                                <img src="./assets/img/facebook.png" alt="">
                            </span>
                        </a>
                    </div>
                </section>
                <hr>
                <div class="row center-xs condiciones-helados">
                    <section class="col-xs-6">
                        <p>Condiciones y politicas de uso</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</footer>
