.contacto-imagen-heladeria-el-rey {
    background-image: url('../../../assets/img/contacto/contacto-helados-el-rey.jpg');
    background-size: 100% 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
    width: 100%;
    height: 700px;
    position: absolute;
    top: -10%;
}
.encabezado-contacto{
    position: block;
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
}
.descripcion-contacto-helados-el-rey{
    width: 100%;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'Amita', cursive;
    color: #821110;
    text-align: justify;
}
.titulo-contacto{
    font-family: 'Amita', cursive;
    color: #821110;
    font-size: 32px;
}

.formulario-contacto-helados-el-rey{
    margin-top: 50px;
    background-color: white;
    padding: 30px 0;
}

.formulario-contacto{
    margin: 50px 30px;
}
.descripcion-busqueda-helados{
    font-family: 'Amita', cursive;
    color: #821110;
    font-size: 20px;
    text-align: justify;
}

.container{
    margin: auto;
    width: 90%;
    color:#821110 ;
}

.direccion-helados-el-rey  {
    margin-bottom: 0;
}

.ubicacion-direccion{
    margin: 10px 0 0 0;
    font-size: 18px;
}

.header-direccion{
    margin-top: 20px;
    font-size: 18px;
}

p span{
    font-family: 'Amita', cursive;
    font-size: 18px;
    color: #caa600;
}

.ubicacion-maps-helados-el-rey iframe{
    width: 100%;
}