<div class="contacto-imagen-heladeria-el-rey"></div>
<section class="encabezado-contacto">
    <div class="row center-xs">
        <div class="col-xs-6">
            <div class="box">
                <h4 class="titulo-contacto">Contacto</h4>
                <p class="descripcion-contacto-helados-el-rey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
        </div>
    </div>
</section>
<section class="formulario-contacto-helados-el-rey">
    <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <section class="detalle-contacto">
                        <h4 >

                        </h4>
                    </section>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <section class="formulario-contacto">
                        <h4 class="titulo-contacto"></h4>
                    </section>
                </div>
            </div>
    </div>
</section>


