<div class="inicio-heladeria-el-rey"></div>
<section class="encabezado-inicio">
    <div class="row center-xs">
        <div class="col-xs-6">
            <div class="box">
                <p class="descripcion-helados-el-rey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                <button mat-stroked-button class="button-style" title="Contactanos"  >
                    Conctacto
                </button>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-12">
        <section class="home-historia-helados-el-rey">
            <app-home-historia></app-home-historia>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section>
            <app-home-testimonio></app-home-testimonio>
        </section>        
    </div>
</div>




