<div class="margin-nuestra-historia">
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="imagenes-historia-helados">
                    <img class="imagen-cremas-helados" src="./assets/img/home/conos-helados.jpg" alt="">
                    <img class="imagen-paleta-fruta-helados" src="./assets/img/home/cono-segunda.jpg" alt="">
                    <img class="imagen-paleta-crema-helados" src="./assets/img/home/conos-principal.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <section class="historia-titulo">
                    <h3>Nuestra historia</h3> 
                </section>
                <section class="historia-helados-el-rey"> 
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, qui officia deserunt mollit anim id est laborum
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure reprehenderit in voluptate velit esse
                    </p>
                </section>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <section class="section-icon-helados">
                                <i class="bi bi-telephone"></i>
                                <div class="contacto-helados-el-rey">
                                    <h5><strong>Teléfono:</strong></h5>    
                                    <p>(+57) 321 3353 140</p>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <section class="section-icon-helados">
                                <i class="bi bi-envelope"></i>
                                <div class="contacto-helados-el-rey">
                                    <h5><strong>Email:</strong></h5>    
                                    <p>heladoselrey@gmail.com</p>
                                </div>
                            </section>
                    </div>
                    <div class="col-md-4">
                        <section class="section-icon-helados">
                                <i class="bi bi-geo-alt"></i>
                                <div class="contacto-helados-el-rey">
                                    <h5><strong>Ubicación:</strong></h5>    
                                    <a href="">Ver mapa</a>
                                </div>
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
