<div class="producto-imagen-heladeria-el-rey"></div>
<section class="encabezado-producto">
    <div class="row center-xs middle-xs">
        <div class="col-xs-8">
            <div class="box">
                <p class="descripcion-producto-helados-el-rey">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
            </div>
        </div>
    </div>
</section>
<section class="helados-frutas">
    <div class="row center-xs">
        <div class="col-xs-10">
            <div class="box">
                <h4 class="titulo-producto">HELADOS DE FRUTAS</h4>    
            </div>
        </div>
    </div>
    <p class="descripcion-producto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been sum is simply dummy text of the printing and typesetting industry</p>
    <app-producto-carousel></app-producto-carousel>
</section>
<section class="helados-frutas">
    <div class="row center-xs">
        <div class="col-xs-10">
            <div class="box">
                <h4 class="titulo-producto">HELADOS DE CREMA</h4>    
            </div>
        </div>
    </div>
    <p class="descripcion-producto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been sum is simply dummy text of the printing and typesetting industry</p>
    <app-producto-carousel></app-producto-carousel>
</section>